html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*, :after, :before { box-sizing: inherit; }

body {
  font-size: 1.125rem;
  color: #000;
  background: #fafafa;
  line-height: 1.5;
}

main {
  margin: 0 auto;
  max-width: 1000px;
}

a { color: #1663bb; }
a:hover, a:focus { color: #0f437e; }
